<template>
   <body class="landing is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1>Life Worth Living</h1>
						<!-- <nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="index.html">Home</a></li>
											<li><a href="generic.html">Generic</a></li>
											<li><a href="elements.html">Elements</a></li>
											<li><a href="#">Sign Up</a></li>
											<li><a href="#">Log In</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav> -->
					</header>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>The Canadian Institute For Child 
                                 <br>
                                 Development C.I.C.D. International, Ltd.</h2>
                                 <div style="padding-left: 15%; padding-right: 15%"> 
                                     <span>CICD is a humanitarian multidisciplinary team serving the mental-health needs of marginalized
                                children and families both in Canada and overseas. Operating under mandate of the local
governments, as well as United Nations human rights organization in war effected regions.
Trauma, and Trauma related manifestations are our specialty.</span>
                                 </div>
							
							<!-- <ul class="actions special">
								<li><a href="#" class="button primary">Activate</a></li>
							</ul> -->
						</div>
						<a href="#two" class="more scrolly">Learn More</a>
					</section>

				<!-- One -->
					<!-- <section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>Arcu aliquet vel lobortis ata nisl<br />
								eget augue amet aliquet nisl cep donec</h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
								fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
							</header>
							<ul class="icons major">
								<li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span></li>
								<li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span></li>
								<li><span class="icon fa-code major style3"><span class="label">Dolor</span></span></li>
							</ul>
						</div>
					</section> -->

				<!-- Two -->
					<section id="two" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><img src="images/pic01.jpg" alt="" /></div><div class="content">
								<h2>Therapeutic Approach</h2>
								<div>
                                    <span>Through assessment, diagnosis, and individualized treatment
program planning, the multidisciplinary team approach has proven to be most effective in
treating Posttraumatic Stress Disorder, Alexithymia, Dissociation, Self-Injurious behavior
amongst children and adolescents.</span>
                                </div>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
								<h2>Tortor dolore feugiat<br />
								elementum magna</h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/pic03.jpg" alt="" /></div><div class="content">
								<h2>Augue eleifend aliquet<br />
								sed condimentum</h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
							</div>
						</section>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Accumsan mus tortor nunc aliquet</h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
								fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
							</header>
							<ul class="features">
								<li class="icon fa-paper-plane-o">
									<h3>Arcu accumsan</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-laptop">
									<h3>Ac Augue Eget</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-code">
									<h3>Mus Scelerisque</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-headphones">
									<h3>Mauris Imperdiet</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-heart-o">
									<h3>Aenean Primis</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-flag-o">
									<h3>Tortor Ut</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
							</ul>
						</div>
					</section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Arcue ut vel commodo</h2>
								<p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
							</header>
							<ul class="actions stacked">
								<li><a href="#" class="button fit primary">Activate</a></li>
								<li><a href="#" class="button fit">Learn More</a></li>
							</ul>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<!-- <script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script> -->

	</body>
</template>

<script>
/* eslint-disable */
require('@/assets/main/css/main.css')
require('@/assets/main/css/noscript.css')
// require('@/assets/main/js/jquery.min.js')
// require('@/assets/main/js/jquery.scrollex.min.js')
// require('@/assets/main/js/jquery.scrolly.min.js')
// require('@/assets/main/js/browser.min.js')
// require('@/assets/main/js/breakpoints.min.js')
// require('@/assets/main/js/util.js')
// require('@/assets/main/js/main.js')

// import jquery from '@/assets/main/js/jquery.min.js'
// import jquery_scrollex from '@/assets/main/js/jquery.scrollex.min.js'
// import jquery_scrolly from '@/assets/main/js/jquery.scrolly.min.js'
// import browser from '@/assets/main/js/browser.min.js'
// // import breakpoints from './assets/main/js/breakpoints.min.js'
// import util from '@/assets/main/js/util.js'
// import main from '@/assets/main/js/main.js'

import '@/assets/main/css/main.css'
import '@/assets/main/css/noscript.css'

export default {
    
  name: 'Main',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  mounted () {
    //   something()
    //   jquery_scrollex_min_js()
    //   jquery_scrolly_min_js()
    //   browser_min_js()
    //   breakpoints_min_js()
    //   util_js()
    //   main_js()
      let scripts = document.createElement('script');
      scripts.setAttribute('src',"assets/main/js/jquery.min.js");
      scripts.setAttribute('src',"assets/main/js/jquery.scrollex.min.js");
      scripts.setAttribute('src',"assets/main/js/jquery.scrolly.min.js");
      scripts.setAttribute('src',"assets/main/js/browser.min.js");
      scripts.setAttribute('src',"assets/main/js/breakpoints.min.js");
      scripts.setAttribute('src',"assets/main/js/util.js");
      scripts.setAttribute('src',"assets/main/js/main.js");
      scripts.async = true;
      document.head.appendChild(scripts);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style src="@/assets/main/css/main.css"></style>
<style src="@/assets/main/css/noscript.css"></style>



